<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar placeholder="Enter Machine 4 Digit Code" (ionInput)="machineLookup($event)"></ion-searchbar>    
  <div text-center *ngIf="currentMachine!=null">  
    <h1><b>{{currentMachine.machine_name}}</b></h1>
    <b margin-bottom><a (click)="openMachineLocationDialog()">{{currentMachine.machine_location}}</a></b>
    <ion-list margin-top >
      <button ion-item detail-none (click)="submitEckProblem()" *ngIf="problemAdded==false">
        Machine has a problem
        <ion-icon item-end name="add-circle-outline"></ion-icon>        
      </button>
      <ion-item *ngIf="problemAdded==true">
        Problem submitted.  Please enter another machine number.
      </ion-item>
    </ion-list>    
  </div>
  <ion-list>
    <button ion-item (click)="getMachine(machine)" *ngFor="let machine of filteredMachines">
      {{machine.machine_name}}
    </button>
  </ion-list>
</ion-content>
